.DS_STORE

/dist/
bazel-*
e2e_test.*
node_modules
bower_components
tools/gulp-tasks/cldr/cldr-data/

# Include when developing application packages.
pubspec.lock
.c9
.idea/
.settings/
*.swo
modules/.settings
.bazelrc
.vscode
modules/.vscode

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

RemoteSystemsTempFiles/.project
MedAccessAPI/.project
MedAccessAPI/.gitignore
MedAccessAPI/.classpath

RemoteSystemsTempFiles/.project

.metadata/version.ini
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.tm.terminal.connector.local/.executables/data.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-gr2ujoj_32623/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-gr2ujoj_32623/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-gr2ujoj_32623/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
.metadata/.plugins/org.eclipse.m2e.jdt/MedAccessAPI.container
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.core/nexus/a26e257faa0285dd373e3baab34c8aa3/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/a26e257faa0285dd373e3baab34c8aa3/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/a26e257faa0285dd373e3baab34c8aa3/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/a26e257faa0285dd373e3baab34c8aa3/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/MedAccessAPI.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/MedAccessAPI/2018/7/28/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/MedAccessAPI/2018/7/28/refactorings.history
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/963423169.index
.metadata/.plugins/org.eclipse.jdt.core/942707985.index
.metadata/.plugins/org.eclipse.jdt.core/917034173.index
.metadata/.plugins/org.eclipse.jdt.core/620682519.index
.metadata/.plugins/org.eclipse.jdt.core/61105977.index
.metadata/.plugins/org.eclipse.jdt.core/4260142827.index
.metadata/.plugins/org.eclipse.jdt.core/4207566124.index
.metadata/.plugins/org.eclipse.jdt.core/409099696.index
.metadata/.plugins/org.eclipse.jdt.core/4031642838.index
.metadata/.plugins/org.eclipse.jdt.core/3928326868.index
.metadata/.plugins/org.eclipse.jdt.core/3888787561.index
.metadata/.plugins/org.eclipse.jdt.core/3719587427.index
.metadata/.plugins/org.eclipse.jdt.core/3650938669.index
.metadata/.plugins/org.eclipse.jdt.core/3570095255.index
.metadata/.plugins/org.eclipse.jdt.core/3556133943.index
.metadata/.plugins/org.eclipse.jdt.core/3481365260.index
.metadata/.plugins/org.eclipse.jdt.core/3479248907.index
.metadata/.plugins/org.eclipse.jdt.core/339070713.index
.metadata/.plugins/org.eclipse.jdt.core/3212587588.index
.metadata/.plugins/org.eclipse.jdt.core/3187035665.index
.metadata/.plugins/org.eclipse.jdt.core/3153665746.index
.metadata/.plugins/org.eclipse.jdt.core/3117364580.index
.metadata/.plugins/org.eclipse.jdt.core/2950250706.index
.metadata/.plugins/org.eclipse.jdt.core/294662278.index
.metadata/.plugins/org.eclipse.jdt.core/294547121.index
.metadata/.plugins/org.eclipse.jdt.core/2758174752.index
.metadata/.plugins/org.eclipse.jdt.core/2737289283.index
.metadata/.plugins/org.eclipse.jdt.core/2612543452.index
.metadata/.plugins/org.eclipse.jdt.core/2591000465.index
.metadata/.plugins/org.eclipse.jdt.core/2562552578.index
.metadata/.plugins/org.eclipse.jdt.core/2481371486.index
.metadata/.plugins/org.eclipse.jdt.core/2473428200.index
.metadata/.plugins/org.eclipse.jdt.core/2397886639.index
.metadata/.plugins/org.eclipse.jdt.core/2391993373.index
.metadata/.plugins/org.eclipse.jdt.core/2360895293.index
.metadata/.plugins/org.eclipse.jdt.core/2342055579.index
.metadata/.plugins/org.eclipse.jdt.core/234197661.index
.metadata/.plugins/org.eclipse.jdt.core/2222896876.index
.metadata/.plugins/org.eclipse.jdt.core/2206906501.index
.metadata/.plugins/org.eclipse.jdt.core/2163791402.index
.metadata/.plugins/org.eclipse.jdt.core/216188442.index
.metadata/.plugins/org.eclipse.jdt.core/2107643560.index
.metadata/.plugins/org.eclipse.jdt.core/2062395176.index
.metadata/.plugins/org.eclipse.jdt.core/1981686406.index
.metadata/.plugins/org.eclipse.jdt.core/195213591.index
.metadata/.plugins/org.eclipse.jdt.core/1861646710.index
.metadata/.plugins/org.eclipse.jdt.core/1854488016.index
.metadata/.plugins/org.eclipse.jdt.core/1740364112.index
.metadata/.plugins/org.eclipse.jdt.core/171901624.index
.metadata/.plugins/org.eclipse.jdt.core/1636927389.index
.metadata/.plugins/org.eclipse.jdt.core/1621651436.index
.metadata/.plugins/org.eclipse.jdt.core/1619674173.index
.metadata/.plugins/org.eclipse.jdt.core/1611866645.index
.metadata/.plugins/org.eclipse.jdt.core/1404787955.index
.metadata/.plugins/org.eclipse.jdt.core/1236742694.index
.metadata/.plugins/org.eclipse.jdt.core/1198827086.index
.metadata/.plugins/org.eclipse.jdt.core/1180831403.index
.metadata/.plugins/org.eclipse.jdt.core/1144063833.index
.metadata/.plugins/org.eclipse.jdt.core/1137597253.index
.metadata/.plugins/org.eclipse.jdt.core/1025485744.index
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.core/.launches/New_configuration.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/New_configuration (1).launch
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MedAccessAPI/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/MedAccessAPI/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/MedAccessAPI/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/MedAccessAPI/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MedAccessAPI/.indexes/e4/b9/22/81/d0/b5/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MedAccessAPI/.indexes/e4/b9/22/81/d0/72/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MedAccessAPI/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.history/fd/30771bf53c85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/ef/20057c0f3f85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/e5/405d4ab33b85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/e4/202d45b33b85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/ac/20804cb33b85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/a/603165153e85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/8e/c0f68ab43f85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/6e/806f98063e85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/6a/e00147b33b85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/61/b08271b43c85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/5d/e0a4719e3c85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/53/d044a5483d85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/47/10625b023e85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/3d/b06e4bb33b85001816a2b073c01c85fe
.metadata/.plugins/org.eclipse.core.resources/.history/36/50ff7a233e85001816a2b073c01c85fe
.metadata/.mylyn/repositories.xml.zip
.metadata/.lock

MedAccessAPI/.project
MedAccessAPI/.gitignore
MedAccessAPI/.classpath

